@mixin menu-container-mobile {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}

@mixin menu-container-desktop {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin tittles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: $violet;
}

@mixin texts-mobile {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}