
$violet: #572EE5;
$violet-op: rgba(87,46,229,0.9);
$violet-op2:rgba(87,46,229,0.6);
$turquoise: #50E3C2;
$grey-light: #F3F5F8;
$grey-medium: #9CAFC3;
$grey-deep:#37383C;
$grey-trending-deep: #222326;
$black: #000000;
$white: #ffffff;
$white-op: rgba(255, 255, 255, 0.7);
$white-modal:rgba(255, 255, 255, 0.9);
$black-modal:#37383cea;


$montserrat-font: 'Montserrat', sans-serif;
$roboto-font: 'Roboto', sans-serif;


