.trending {
  margin-top: 79px;
  background-color: $grey-light;
  padding-bottom: 82px;

  h2 {
    padding-top: 44px;
    @include tittles;
    font-size: 20px;
    line-height: 30px;
  }

  .trending-text {
    @include texts-mobile;
    padding: 9px 100px;
  }
}

.slider-prev {
  display: none;
}

.slider-next {
  display: none;
}

.trending-slider {
  display: flex;
  margin: 23px auto 0 auto;

  max-width: 900px;
  width: 100%;
  height: 187px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.gif-container {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  scroll-snap-align: center;
}

.gif-actions {
  display: none;
}

.trending-gif {
  width: 243px;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .trending-slider-container {
    margin: 53px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider-prev {
    display: block;
    border: 1px solid $violet;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .prev-white {
      display: none;
      width: 8px;
    }
  }

  .slider-prev:hover {
    background-color: $violet;

    .prev-violet {
      display: none;
    }

    .prev-white {
      display: block;
    }
  }

  .slider-next {
    display: block;
    border: 1px solid $violet;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .next-white {
      display: none;
      width: 8px;
    }
  }

  .slider-next:hover {
    background-color: $violet;

    .next-violet {
      display: none;
    }

    .next-white {
      display: block;
    }
  }

  .trending-slider-box {
    overflow-x: hidden;
    width: 795px;
  }

  .trending-slider {
    overflow-x: hidden;
    transform: translateX(0);
    margin: 0;
    padding: 0;
    width: 3080px;
    max-width: 3080px;
    display: flex;
    justify-content: flex-start;
  }

  .gif-container {
    margin: 0 15px;
    width: 243px;
    height: 187px;
  }

  .gif-container:first-child {
    margin-left: 0;
  }

  .gif-actions {
    position: absolute;
    z-index: 0;
    background-color: $violet-op2;
    width: 243px;
    height: 187px;
  }

  .icons-actions-gif {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .icons-actions-box {
    width: 32px;
    height: 32px;
    background-color: $white-op;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 6px;
    border: none;
  }

  .favorite {
    cursor: pointer;
  }

  .download {
    margin-left: 10px;
    cursor: pointer;
  }

  .max {
    margin-left: 10px;
    cursor: pointer;
  }

  .icons-actions-box:hover {
    background-color: $white;
  }

  .texts-descripcion-gif {
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }

  .user-gif {
    @include texts-mobile;
    text-align: left;
    color: $white;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    padding: 0 10px 0 0;
    margin-bottom: 6px;
  }

  .tittle-gif {
    @include texts-mobile;
    text-align: left;
    color: $white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    padding: 0 10px 0 0;
    margin: 0;
  }

  .gif-container:hover .gif-actions {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .trending {
    padding: 0;

    h2 {
      padding-top: 78px;
      font-size: 30px;
    }

    .trending-text {
      font-size: 18px;
      padding: 14px 0 0 0;
    }
  }

  .trending-slider-container {
    margin: 53px 94px 0 94px;
    padding-bottom: 182px;
  }

  .trending-slider-box {
    width: 1133px;
  }

  .trending-slider {
    height: 275px;
  }

  .gif-container {
    width: 357px;
    height: 275px;
  }

  .gif-actions {
    width: 357px;
    height: 275px;
  }

  .texts-descripcion-gif {
    bottom: 51px;
    left: 18.5px;
  }

  .trending-gif {
    width: 357px;
  }
}
