.body-dark {
  footer {
    .footer-container {
      .footer-links-container {
        p {
          color: $white;
        }
      }

      .footer-copyright {
        p {
          color: $white;
        }
      }
    }
  }
}
