.main-mobile {
  margin: 20px auto;
  
  h2 {
    @include tittles;
    font-size: 20px;
    line-height: 25px;
    padding: 0 25px;

    .gifos-turquoise {
      color: $turquoise;
    }
  }
}

.main-create-gifo {
  display: none;
}

@media screen and (min-width: 1024px) {
  .main-mobile {
    display: none;
  }

  .main-create-gifo {
    text-align: center;
    display: block;

    .ilustration-record-container {
      display: flex;
      margin: 4px 50px 0px 50px;
      justify-content: center;

    .div-camera {
      width: 162px;
      height: 390px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      #camera-ilustration {
        width: 90px;
      }

      #camera-light {
      width: 60px;
      padding-top: 5px;
      padding-left: 3px;
      }
    }

    .div-recording {
      .border-box {
        width: 600px;
        height: 390px;
        border: 1px solid $violet;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .corner1 {
          border-top: 1px solid $turquoise;
          border-left: 1px solid $turquoise;
          width: 25px;
          height: 27px;
          position: absolute;
          top: 20px;
          left: 20px;
        }

        .corner2 {
          border-top: 1px solid $turquoise;
          border-right: 1px solid $turquoise;
          width: 25px;
          height: 27px;
          position: absolute;
          top: 20px;
          right: 20px;
        }

        .corner3 {
          border-bottom: 1px solid $turquoise;
          border-left: 1px solid $turquoise;
          width: 25px;
          height: 27px;
          position: absolute;
          bottom: 20px;
          left: 20px;
        }

        .corner4 {
          border-bottom: 1px solid $turquoise;
          border-right: 1px solid $turquoise;
          width: 25px;
          height: 27px;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }

        .video-container {
          width: 480px;
          height: 320px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          #tittle-record-tittle {
            @include tittles;
            font-size: 25px;
            line-height: 35px;
            margin: 0 0 3px 0;

            .gifos-create {
              color: $turquoise;
            }
          }

          #text-record-gifo {
            @include texts-mobile;
            color: $black;
            font-size: 16px;
            line-height: 29px;
            margin: 0;
          }

          .overlay-video {
            display: none;
            width: 100%;
            height: 100%;
            background-color: $violet-op2;
            text-align: center;
            position: absolute;
            z-index: 5;

            #overlay-video-actions {
              display: none;
              position: absolute;
              top: 12px;
              right: 12px;

              #btn-create-gifo-download {
                position: absolute;
                top: 0;
                right: 42px;
                width: 32px;
                height: 32px;
                border-radius: 6px;
                border: none;
                background-color: $white-op;
                margin: 0;
                cursor: pointer;
              }

              #btn-create-gifo-download:hover {
                background-color: $white;
              }

              #btn-create-gifo-link {
                position: absolute;
                top: 0;
                right: 0;
                width: 32px;
                height: 32px;
                border-radius: 6px;
                border: none;
                background-color: $white-op;
                margin: 0;
                cursor: pointer;
              }

              #btn-create-gifo-link:hover {
                background-color: $white;
              }
            }

            #overlay-video-text {
              display: flex;
              flex-direction: column;

              #overlay-video-icon {
                margin: 0;
              }

              #overlay-video-paragraph {
                font-family: $montserrat-font;
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                color: $white;
                margin: 10px 0;
              }
            }
          }

          #record-video {
            display: none;
            position: absolute;
            z-index: 1;
          }

          #gif-recorded {
            display: none;
            width: 480px;
            height: 320px;
            position: absolute;
            z-index: 2;
          }
      }
    }

    div {
      height: 75px;
      display: flex;
      justify-content: center;
      position: relative;

        .create-steps {
          p {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid $violet;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;

            font-family: $roboto-fonto;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: $violet;
          }

          .step-active {
            background-color: $violet;
            color: $white;
          }

          p:last-child {
            margin-right: 0;
          }
        }

        .counter-container {
          position: absolute;
          right: 0;

          #counter-record {
            display: none;
            @include tittles;
            font-size: 15px;
            line-height: 22px;
            color: $violet;
          }

          #counter-repeat-capture {
            display: none;
            @include tittles;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            background-color: unset;
            border: none;
            border-bottom: 2px solid $white;
            cursor: pointer;
          }

          #counter-repeat-capture:hover {
            border-bottom: 2px solid $turquoise;
          }                                                           
        }
      }
    }

    .movie-box {
      width: 162px;
      height: 465px;
      position: relative;

      img {
        width: 100px;
        position: absolute;
        bottom: 0;
        right: 15px;
      }
    }
  }

  .view-create-gifo {
    height: 7px;
    width: 650px;
    border-radius: 50px;
    background-color: $violet;
    margin: 0 auto 20px;
  }

  .create-gifo-btn-container {
    text-align: center;

      #btn-create-gifo-start {
        font-weight: 600;
        margin: 0 auto 26px;
      }

      #btn-create-gifo-record {
        display: none;
        font-weight: 600;
        margin: 0 auto 26px;
      }

      #btn-create-gifo-finish {
        display: none;
        font-weight: 600;
        margin: 0 auto 26px;
      }

      #btn-create-gifo-upload {
        display: none;
        font-weight: 600;
        margin: 0 auto 26px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .main-create-gifo {
    .ilustration-record-container {
      margin: 4px 156px 0px 156px;
      justify-content: space-between;

      .div-camera {
          width: 220px;

        #camera-ilustration {
          width: 123px;
        }

        #camera-light {
          width: 91px;
          padding-left: 5px;
        }
      }

      .div-recording {
        .border-box {
          width: 688px;
        }
      }

      .movie-box {
        width: 220px;
        

        img {
          width: 142px;
        }
      }
    }

    .view-create-gifo {   
      width: 795px;
    }
  }
}
